.autocard-box {
  display: flex;
  // justify-content: space-between;
}

.body-section {
  margin-bottom: 20px;
}

.autocard-box__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #1657E7;
  margin-bottom: 10px;
}

.select-box {
  padding: 29px 37px 38px;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 540px;
  width: 100%;
  margin-bottom: 20px;
}

.select-box__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #101820;
  margin-bottom: 16px;
}

.input-box__input {
  background: #FFFFFF;
  border: 1px solid #C7D1DD;
  border-radius: 10px;
  height: 45px;
  padding: 0 20px;
  position: relative;
  z-index: 0;
  &::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #919AA5;
  }
}

.input-box__label {
  display: block;
}

.input-box{
  position: relative;
  width: 100%;
}

.input-dropdown {
  position: absolute;
  right: 20px;
  top: 29%;
  // transform: translateY(-50%);
  // z-index: 1;
}

.input-dropdown__wrapper {
  position: absolute;
  right: -20px;
  z-index: 1;
}


.input-dropdown__list {
  background: #FFFFFF;
  border: 1px solid #C7D1DD;
  border-radius: 10px;
  margin:20px 0px 0px;
  padding: 0 10px;
  white-space: nowrap;
  position: relative;
}

.input-dropdown__item {
  margin: 4px 0;
  background: #FFFFFF;
  position: relative;
  z-index: 200;
}

.input-dropdown__link {
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #101820;
}

.plus {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
}

.plus__link {
  display: flex;
}

.input-dropdown__arrow {
  fill: transparent;
  transition: all .4s;
  cursor: pointer;
}

.input-dropdown__top.accordion__active {
  .input-dropdown__arrow {
    transform: scaleY(-1);
  }
}

.input-container {
  margin-bottom: 10px;
  position: relative;
}

.select-box .input-container:last-child {
  margin-bottom: 0;
}


//  select

.select__header {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.select__icon__arrow {
  fill: none;
  margin-left: 10px;
}

.select.is-active .select__body {
  max-height: 500px;
  height: auto;
}

.select {
  .select__body {
    display: none;
  }
}

.select.is-active {
  .select__icon__arrow {
    transform: scaleY(-1);
  }
  .select__body {
    display: block;
    position: absolute;
    padding: 2px 5px;
    background-color: #FFFFFF;
    border: 1px solid #C7D1DD;
    margin-top: 5px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 10;
  }
}

.select__current, .select__item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #101820;
}


.input-second {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 45px;
}

.input-second__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #101820;
}

.input-second-btn {
  position: relative;
  width: 91px;
  margin-left: 16px;
  height: 31px;
  border-radius: 8px;
  background: #fff;
  font-family: Inter;
  font-weight: normal;
  font-size: 14px;
  color: #1657E7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-second-btn::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(265.92deg,#45e5eb,#3e68ff);
  border-radius: 10px;
  z-index: -1;
}

.input-second-btn--active {
  background-color:#1657E7;
  color: #fff;
  &::after {
    background:#1657E7;
  }
}

.promice-btn {
  width: 210px;
  height: 45px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(261.44deg, #45EDE9 -2.09%, #3E68FF 95.38%);
  border-radius: 10px;
}

.remove-btn {
  width: 140px;
  height: 45px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #919AA5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
}

.input-container-bottom {
  display: flex;
  // margin-top: 45px;
  &--third {
    margin-bottom: 100px;
  }
}

 .promice-btn + .remove-btn {
  margin-left: 10px;
}


.autocard-box__wrapper {
  display: flex;
}

.autocard-box__coll {
  max-width: 540px;
  width: 100%;
}

.autocard-box__coll + .autocard-box__coll {
  margin-left: 20px;
}

.autocard-box__item {
  &:first-child {
    width: 66.2%;
  }
  &:last-child {
    width: 33.8%;
  }
}

.autocard-box__item + .autocard-box__item {
  margin-left: 20px;
}

.input-container__inner {
  display: flex;
  justify-content: space-between;
}

.input-container__item {
  width: 48%;
  padding: 21px 0 24px;
  border: 1px dashed #C7D1DD;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.input-container__name {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #101820;
  margin-bottom: 8px;
}

.input-container__desrc {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #919AA5;
  margin-bottom: 5px;
}

.input-download {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #1657E7;
}

.input-container__load {
  border: 1px dashed #C7D1DD;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-area {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #919AA5;
  margin-right: 5px;
}

.inner-item__wrapper {
  width: 100%;
  height: 45px;
  border: 1px dashed #C7D1DD;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-item {
  &:first-child {
    width: 68%;
  }
  &:last-child {
    width: 30%;
  }
}

.input-container__area {
  min-height: 279px;
  background: #FFFFFF;
  border: 1px solid #C7D1DD;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  resize: none;
  &::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #919AA5;
  }
}

.autocard-box__item.single-item {
  width: 100%;
}

.autocard-box__wrapper--mode {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .autocard-box__coll {
    width: 33%;
  }
}

.input-box--form {
  position: relative;
  .select {
    position: absolute;
    top: 25%;
    left: 20px;
  }
  .input-box__input {
    padding-left: 100px;
  }
  .select__current {
    margin-left: 7px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #919AA5;
  }
  .select__header {
    border-right: 1px solid #C7D1DD;
    // padding-right: 25px;
    padding-top: 3px;
    width: 68px;
    padding-bottom: 3px;
  }
  .select__item {
    display: flex;
    padding: 2px 1px;
  }
}
