.sign {
  margin-bottom: 80px;
}

.sign-wrapper {
  background-image: url(../img/bg1.png);
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &--mode {
    background-image: url(../img/bg2.png);
  }
}

.sign__top {
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 60px;
  &--third {
    margin-bottom: 200px;
  }
  &--second {
    margin-bottom: 200px;
  }
}

.sign__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  svg {
    margin-right: 6px;
  }
}

.sign-middle {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.sign-middle__boxx {
  width: 569px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 47px 37px 34px;
}

.form-wrapper__item .checkbox{
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-wrapper__item:first-child {
  width: 53%;
}

.form-wrapper {
  margin-bottom: 10px;
}

.sign-middle__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #101820;
  margin-bottom: 5px;
}

.sign-middle__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #919AA5;
  margin-bottom: 25px;
}

.sign-middle__sign {
  color: #1657E7;
}

.capcha {
  // width: 306px;
  // height: 50px;
  margin: 25px 0;
}

.registered-btn {
  background: linear-gradient(261.44deg, #45EDE9 -2.09%, #3E68FF 95.38%);
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 45px;
}

.sign-middle__arrow {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
}

.registered-btn--submit {
  margin-bottom: 60px;
  margin-top: 40px;
}

.sign-middle__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}

.access-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #919AA5;
}

.sign-middle__boxx--mode {
  padding: 100px 37px 60px;
}


